#h1{
    -fx-font-family: "Arial Black";
    -fx-font-size: 50px;
}
#h2{
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 25px;

}
#mainContent{
    -fx-background-color: #F6F7FB;
}