#add-new-btn{
    -fx-font-family: "Arial";
    -fx-font-weight: 700;
    -fx-text-fill: #ffffff;
    -fx-background-color: #F39C12;
    -fx-padding: 10 10 10 10;
    -fx-font-size: 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

#search-btn{
    -fx-background-color: transparent;
}
#search-field{
    -fx-background-color: rgba(182, 179, 179, 0.3);
    -fx-background-radius: 10px;
}

.table-view {
    -fx-border-color: black;
    -fx-border-insets: 0;
    -fx-border-width: 1;
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-padding: 8px;
}

.table-column {
    -fx-background-color: #B6B3B3;
    -fx-border-color: black;
    -fx-border-width: 0 0 1 1;
}

.table-row-cell {
    -fx-padding: 10px;
    -fx-min-height: 30px;
}

.table-cell {
    -fx-border-color: black;
    -fx-border-width: 0 0 1 1;
    -fx-padding: 5px;
}