#logo-bg{
    -fx-background-color: #ffffff;
}
GridPane{
    -fx-background-color: #003366;
}
#LoginTitle{
    -fx-font-family: "Arial";
    -fx-font-weight: 800;
    -fx-font-size: 50px;
    -fx-text-fill: #ffffff;

}
textfie1ld{
    -fx-font-family: Arial;
    -fx-border-radius: 30px;
    -fx-font-size: 30px;
}
#login-btn{
    -fx-font-family: "Arial";
    -fx-font-weight: 600;
    -fx-text-fill: #ffffff;
    -fx-background-color: #F39C12;
    -fx-padding: 15 40 15 40;
    -fx-font-size: 30px;
    -fx-border-radius: 20px;
}